@font-face {
  font-family: "PangramBlack";
  src: url("../fonts/Pangram-Black.eot");
  src: url("../fonts/Pangram-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Pangram-Black.woff2") format("woff2"), url("../fonts/Pangram-Black.woff") format("woff"), url("../fonts/Pangram-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Pangram";
  src: url("../fonts/Pangram-Regular.eot");
  src: url("../fonts/Pangram-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Pangram-Regular.woff2") format("woff2"), url("../fonts/Pangram-Regular.woff") format("woff"), url("../fonts/Pangram-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PangramLight";
  src: url("../fonts/Pangram-ExtraLight.eot");
  src: url("../fonts/Pangram-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Pangram-ExtraLight.woff2") format("woff2"), url("../fonts/Pangram-ExtraLight.woff") format("woff"), url("../fonts/Pangram-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
/* poppins-100 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/poppins-v8-latin-100.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Thin"), local("Poppins-Thin"), url("../fonts/poppins-v8-latin-100.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v8-latin-100.woff2") format("woff2"), url("../fonts/poppins-v8-latin-100.woff") format("woff"), url("../fonts/poppins-v8-latin-100.ttf") format("truetype"), url("../fonts/poppins-v8-latin-100.svg#Poppins") format("svg");
  /* Legacy iOS */
}
/* poppins-200 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/poppins-v8-latin-200.eot");
  /* IE9 Compat Modes */
  src: local("Poppins ExtraLight"), local("Poppins-ExtraLight"), url("../fonts/poppins-v8-latin-200.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v8-latin-200.woff2") format("woff2"), url("../fonts/poppins-v8-latin-200.woff") format("woff"), url("../fonts/poppins-v8-latin-200.ttf") format("truetype"), url("../fonts/poppins-v8-latin-200.svg#Poppins") format("svg");
  /* Legacy iOS */
}
/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v8-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Regular"), local("Poppins-Regular"), url("../fonts/poppins-v8-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v8-latin-regular.woff2") format("woff2"), url("../fonts/poppins-v8-latin-regular.woff") format("woff"), url("../fonts/poppins-v8-latin-regular.ttf") format("truetype"), url("../fonts/poppins-v8-latin-regular.svg#Poppins") format("svg");
  /* Legacy iOS */
}
body {
  font-family: Poppins;
  font-weight: normal;
  font-style: normal;
}

p, .main-content ul {
  font-size: 13px;
  letter-spacing: -0.32px;
}

.container {
  width: 95%;
  max-width: 95%;
}
.container.container--small {
  max-width: 85%;
}

.red-bg {
  background: #d81516;
}

.orange-bg {
  background: #EF680C;
}
.orange-bg * {
  color: black;
}

.pink-bg {
  background: #f08482;
}
.pink-bg * {
  color: #fff;
}

.blue-bg {
  background: #1e3b4c;
}
.blue-bg * {
  color: #ffffff;
}

.homeblue-bg {
  background: #1e3b4c;
}
.homeblue-bg * {
  color: #74bdaf;
}

.green-bg {
  background: #74bdaf;
}
.green-bg * {
  color: #1e3b4c;
}
.green-bg .form-control {
  border: 1px solid #1e3b4c;
  color: #1e3b4c;
}
.green-bg .form-control::placeholder {
  color: #1e3b4c;
}
.green-bg .btn-primary {
  background: #1e3b4c !important;
  color: #fff;
}

.white-bg * {
  color: #1e3b4c;
}

.grey-bg {
  background: #f5f5f5;
}

.btn {
  border-radius: 0;
  box-shadow: none !important;
  border: 0;
  padding: 8px 50px;
}

#wrapper.pink-default #main-menu ul > li a {
  color: #d81516;
}
#wrapper.pink-default #main-menu ul > li a.active {
  color: #fff;
  transition: all 0.5s;
}
#wrapper.pink-default #logo img.red-logo {
  opacity: 1;
}
#wrapper.pink-default #logo img.white-logo {
  opacity: 0;
}
#wrapper.pink-default #footer a {
  color: #d81516;
}
#wrapper.orange-default #main-menu ul > li a {
  color: #1e3b4c;
}
#wrapper.orange-default #main-menu ul > li a.active {
  color: #ffffff;
  transition: all 0.5s;
}
#wrapper.orange-default #logo img.red-logo {
  opacity: 0;
}
#wrapper.orange-default #logo img.white-logo {
  opacity: 1;
}
#wrapper.orange-default #footer a {
  color: #d81516;
}
#wrapper.blue-default #main-menu ul > li a {
  color: #fff;
}
#wrapper.blue-default #main-menu ul > li a.active {
  color: #EF680C;
  transition: all 0.5s;
}
#wrapper.homeblue-default #main-menu ul > li a {
  color: #EF680C;
}
#wrapper.homeblue-default #main-menu ul > li a.active {
  color: #74BDAF;
  transition: all 0.5s;
}
#wrapper.green-default #main-menu ul > li a {
  color: #fff;
}
#wrapper.green-default #main-menu ul > li a.active {
  color: #EF680C;
  transition: all 0.5s;
}
#wrapper.white-default #main-menu ul > li a {
  color: #1e3b4c;
}
#wrapper.white-default #main-menu ul > li a.active {
  color: #EF680C;
  transition: all 0.5s;
}
#wrapper.white-default #logo img.red-logo {
  opacity: 0;
}
#wrapper.white-default #logo img.white-logo {
  opacity: 1;
}
#wrapper.white-default #footer a {
  color: #d81516;
}
#wrapper.white-default #brando-container #brando {
  color: #d81516;
  transition: all 0.5s;
}
#wrapper #main-menu ul > li a {
  font-family: Poppins;
  font-weight: 900;
  font-style: normal;
  font-size: 12px;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 30px;
  z-index: 99;
}

#logo {
  position: relative;
}
#logo img {
  min-height: 58px;
  transition: all 1.5s;
  opacity: 0;
}
#logo img.red-logo {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
}

#main-menu ul > li {
  float: left;
  margin-right: 30px;
}
#main-menu ul > li:last-child {
  margin-right: 0;
}
#main-menu ul > li a {
  color: #EF680C;
  text-transform: uppercase;
  transition: color 1.5s;
}

#footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 30px;
}
#footer a {
  color: #fff;
  text-transform: uppercase;
  font-family: Poppins;
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  letter-spacing: 2px;
}

#brando-container {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
}
#brando-container #brando {
  color: #fff;
  transform: rotate(-90deg);
  display: inline-block;
  position: absolute;
  left: -33px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
  font-family: Poppins;
  font-style: normal;
  letter-spacing: 3px;
  transition: all 0.5s;
}

.section {
  position: relative;
}
.section > .container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.main-title {
  font-size: 50px;
  margin-bottom: 30px;
  font-weight: 100;
  font-family: Poppins;
  font-style: normal;
  letter-spacing: -0.5px;
}

.title {
  font-family: Poppins;
  font-size: 35px;
  font-weight: 200;
  margin-bottom: 30px;
}

.work-item h5 {
  font-size: 13px;
  line-height: 19px;
}

.list-service {
  margin-bottom: 50px;
}
.list-service:nth-child(5) {
  margin-bottom: 0;
}
.list-service:last-child {
  margin-bottom: 0;
}
.list-service h3 {
  font-size: 35px;
  font-family: Poppins;
  font-weight: 200;
  font-style: normal;
  letter-spacing: -0.35px;
}
.list-service p {
  font-size: 13px;
}

.form-control {
  background: none;
  border-radius: 0;
}
.form-control:focus {
  background: none;
  box-shadow: none;
}

textarea.form-control {
  height: 108px;
  resize: none;
  font-size: 12px;
  font-family: Poppins;
  font-weight: normal;
  font-style: normal;
  padding: 10px;
  border-color: black;
}

input.form-control {
  height: 35px;
  font-size: 12px;
  font-family: Poppins;
  font-weight: normal;
  font-style: normal;
  padding: 10px;
  border-color: black;
}

.contact-form div.wpcf7-response-output {
  margin: 20px 0;
  text-align: center;
  border: 0;
  padding: 10px 15px;
}
.contact-form div.wpcf7-response-output.wpcf7-validation-errors, .contact-form div.wpcf7-response-output.wpcf7-acceptance-missing {
  background: #d81516;
  color: #fff;
}
.contact-form .ajax-loader {
  position: absolute;
  right: 170px;
  top: 12px;
}
.contact-form .wpcf7 .row {
  max-width: 532px;
}
.contact-form .wpcf7 .row .form-group {
  margin-bottom: 8px;
}
.contact-form .wpcf7 .row .wpcf7-submit {
  font-size: 12px;
  font-family: Poppins;
  font-weight: normal;
  font-style: normal;
  border: 1px solid;
  background-color: #EF680C;
  float: left;
}
.contact-form .wpcf7-form-control-wrap {
  display: block;
}
.contact-form span.wpcf7-not-valid-tip {
  position: absolute;
  right: 6px;
  top: 6px;
  background: #d81516;
  color: #fff;
  font-size: 12px;
  padding: 3px 12px;
}

.contact-details {
  margin-top: 30px;
}
.contact-details p {
  letter-spacing: 0;
  margin-bottom: 32px;
}
.contact-details p:last-child {
  margin-bottom: 0;
}
.contact-details p a:hover {
  text-decoration: none;
  color: #1e3b4c;
}

.work-item {
  margin-bottom: 40px;
}
.work-item .work-item-block {
  max-width: 480px;
}
.work-item .work-item-block img {
  width: 100%;
  margin-bottom: 11px;
  border: solid 2px;
}
.work-item .work-item-block h5 {
  font-size: 12px;
  font-family: Poppins;
  font-weight: 900;
  font-style: normal;
  margin: 0;
  text-transform: uppercase;
}
.work-item .work-item-block h5 span {
  font-family: Poppins;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
}

.show-btn-block {
  margin-top: 40px;
}
.show-btn-block .btn-block {
  border: 2px solid black;
  color: black;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 900;
  font-style: normal;
  padding: 12px 12px;
  max-width: 156px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

.work-completed {
  padding-left: 55px;
}

.content-image {
  max-width: 375px;
  width: 100%;
}

.line {
  height: 180px;
  width: 2px;
  margin-right: auto;
  margin-left: auto;
  background: black;
  margin-top: 10px;
}

.services-content {
  font-size: 42px;
  font-family: Poppins;
}

.services-leftbox {
  float: left;
  width: 33%;
  height: 280px;
}

.services-middlebox {
  float: left;
  width: 33%;
  height: 280px;
}

.services-rightbox {
  float: right;
  width: 33%;
  height: 280px;
}

.services-line-pos {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.services-experts {
  font-size: 20px;
}

.work-section-with-bg {
  padding-top: 150px;
  padding-bottom: 150px;
}

.right-content-work-block {
  padding-left: 70px;
}

.left-content-work-block {
  padding-right: 70px;
}

::-webkit-input-placeholder {
  /* Edge */
  color: black;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: black;
}

::placeholder {
  color: black;
}

input[type=email]::placeholder {
  /* Firefox, Chrome, Opera */
  color: black;
}

input[type=email]:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: black;
}

input[type=email]::-ms-input-placeholder {
  /* Microsoft Edge */
  color: black;
}

input[type=text]::placeholder {
  /* Firefox, Chrome, Opera */
  color: black;
}

input[type=text]:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: black;
}

input[type=text]::-ms-input-placeholder {
  /* Microsoft Edge */
  color: black;
}

input[type=textarea]::placeholder {
  /* Firefox, Chrome, Opera */
  color: black;
}

input[type=textarea]:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: black;
}

input[type=textarea]::-ms-input-placeholder {
  /* Microsoft Edge */
  color: black;
}

textarea::-webkit-input-placeholder {
  color: black;
}

textarea:-moz-placeholder {
  /* Firefox 18- */
  color: black;
}

textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: black;
}

textarea:-ms-input-placeholder {
  color: black;
}

textarea::placeholder {
  color: black;
}

textarea::placeholder {
  color: black !important;
}

.orangefont {
  color: #EF680C;
}

@media only screen and (max-width: 600px) {
  .line {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
